.contact{
    padding: 5rem 0 3.4rem 0;
}

.contact-form__content{
    margin-top: 5.7rem;
}

.contact-row{
    margin: 0 -15px;
    display: flex;
    justify-content: center;
}

.personal-block, .text-block{
    width: 50%;
    margin: 0 15px;
    padding: 0 3.125rem;
}

.text-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.text-block textarea{
    vertical-align: bottom;
    border: none;
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    resize: none;
    overflow: hidden;
}

.personal-info{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.personal-info:first-child{
    margin-top: 0;
}

.personal-info input{
    padding: 5px 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-size: 1rem;
}

.personal-info label, .text-block label{
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.19rem;
    text-align: center;
    color: #BDBDBD;
    margin-bottom: 15px;
}

.contact-form__btn{
    margin: 80px auto 0;
    display: block;
    padding: 0.69rem 2rem;
    background: #f56060;
    border: 2px solid #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.contact-form__btn:hover {
    color: #f56060;
    border: 2px solid #f56060;
  }

.contact-form__btn::after {
    content: "";
    background: #ffffff;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    transition: all 0.3s ease;
  }

.contact-form__btn::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
  }
.contact-form__btn:hover::after {
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
  }

@media screen and (max-width: 1200px){
    .personal-block{
        padding: 0 25px;
    }
    .text-block{
        padding: 0 25px;
    }
 }

  @media screen and (max-width: 900px){
    .contact-row{
        flex-wrap: wrap;
    }
    .personal-block{
        width: 90%;
    }
    .text-block{
        width: 90%;
        margin-top: 50px;
    } 
    .contact-form__btn{
        width: 72%;
    }
  }

  
@media screen and (max-width: 768px){
    html{
        font-size: 14px;
    }
    
 }